{% extends 'layout.html' %}
{% block content %} 
    <div class="login-register-container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Add Class
                </legend>
                <div>
                    {{ form.class_code.label(class="form-control-label") }}

                    {% if form.class_code.errors %}
                        {{ form.class_code(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.class_code.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.class_code(class="form-control") }}
                    {% endif %}
                </div>
                <br>
                <div>
                    {{ form.course.label(class="form-control-label") }}

                    {% if form.course.errors %}
                        {{ form.course(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.course.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.course(class="form-control") }}
                    {% endif %}
                </div>
                <br>
                <div>
                    {{ form.section.label(class="form-control-label") }}

                    {% if form.section.errors %}
                        {{ form.section(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.section.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.section(class="form-control") }}
                    {% endif %}
                </div>
                <br>
                <div>
                    {{ form.branch.label(class="form-control-label") }}

                    {% if form.branch.errors %}
                        {{ form.branch(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.branch.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.branch(class="form-control") }}
                    {% endif %}
                </div>
                <br>
                <div>
                    {{ form.semester.label(class="form-control-label") }}

                    {% if form.semester.errors %}
                        {{ form.semester(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.semester.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.semester(class="form-control") }}
                    {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </fieldset>
        </form>
    </div>
{% endblock content %}
