<!-- days sourced from: https://nationaldaycalendar.com/february/ -->
<h1>February 2022</h1>
<p>Holidays and Daily Observances in the United States</a>
<ul>
	<li><time datetime="2022-02-01">1</time>Dark Chocolate Day</li>
	<li><time datetime="2022-02-02">2</time>Groundhog Day</li>
	<li><time datetime="2022-02-03">3</time>Carrot Cake Day</li>
	<li><time datetime="2022-02-04">4</time>Wear Red Day</li>
	<li><time datetime="2022-02-05">5</time>Weatherperson's Day</li>
	<li><time datetime="2022-02-06">6</time>Chopsticks Day</li>
	<li><time datetime="2022-02-07">7</time>Periodic Table Day</li>
	<li><time datetime="2022-02-08">8</time>Kite Flying Day</li>
	<li><time datetime="2022-02-09">9</time>Pizza Day</li>
	<li><time datetime="2022-02-10">10</time>Umbrella Day</li>
	<li><time datetime="2022-02-11">11</time>Inventor's Day</li>
	<li><time datetime="2022-02-12">12</time>Global Movie Day</li>
	<li><time datetime="2022-02-13">13</time>Tortellini Day</li>
	<li><time datetime="2022-02-14">14</time>Valentine's Day</li>
	<li><time datetime="2022-02-15">15</time>Gumdrop Day</li>
	<li><time datetime="2022-02-16">16</time>Do a Grouch a Favor Day</li>
	<li><time datetime="2022-02-17">17</time>Cabbage Day</li>
	<li><time datetime="2022-02-18">18</time>Battery Day</li>
	<li class="today"><time datetime="2022-02-19">19</time>Chocolate Mint Day</li>
	<li><time datetime="2022-02-20">20</time>Love Your Pet Day</li>
	<li><time datetime="2022-02-21">21</time>President's Day</li>
	<li><time datetime="2022-02-22">22</time>Cook a Sweet Potato Day</li>
	<li><time datetime="2022-02-23">23</time>Tile Day</li>
	<li><time datetime="2022-02-24">24</time>Toast Day</li>
	<li><time datetime="2022-02-25">25</time>Clam Chowder Day</li>
	<li><time datetime="2022-02-26">26</time>Pistachio Day</li>
	<li><time datetime="2022-02-27">27</time>Polar Bear Day</li>
	<li><time datetime="2022-02-28">28</time>Tooth Fairy Day</li>
</ul>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

body {
	display: flex;
	flex-flow: column;
	align-items: center;
	font-family: "Poppins", serif;
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}
h1 {
	font-weight: 800;
	margin: 1rem 0 0;
}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	flex-wrap: wrap;
	list-style: none;

	li {
		display: flex;
		width: 10rem;
		height: 10rem;
		margin: 0.25rem;
		flex-flow: column;
		border-radius: 0.2rem;
		padding: 1rem;
		font-weight: 300;
		font-size: 0.8rem;
		box-sizing: border-box;
		background: rgba(255, 255, 255, 0.25);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);

		time {
			font-size: 2rem;
			margin: 0 0 1rem 0;
			font-weight: 500;
		}
	}
	.today {
		time {
			font-weight: 800;
		}
		background: #ffffff70;
	}
}

</style>